.container {
	display: grid;
	margin: 20px;
	height: 300px;
	/* grid-template-columns: 200px 5rem 20% auto; */
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: 5rem minmax(10px, 200px);
	/* grid-template-rows: 5rem auto; */
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.el1 {
	background: rgba(255, 154, 72, 0.5);
}

.el2 {
	background: rgba(255, 0, 0, 0.5);
	grid-column-start: 1;
	grid-column-end: -1;
}

.el3 {
	background: rgba(0, 128, 0, 0.5);
	grid-column-start: 2;
	grid-column-end: span 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.el4 {
	background: rgba(0, 4, 255, 0.5);
}
