@import '_variables.scss';
@import 'typography.scss';

@mixin display-flex() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin media-min-width($width) {
	@media (min-width: $width) {
		@content;
	}
}

html {
	font-size: 94.75%;

	@include media-min-width(40rem) {
		font-size: 125%;
	}
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
}

.container {
	@include display-flex();
	align-items: center;
	padding: $size-default * 3 0;
	box-sizing: border-box;

	flex: {
		direction: column;
		wrap: nowrap;
	}
}

.sass-section {
	border: $border-default;
	background: lighten($color: map-get($colors, main), $amount: 72%);
	padding: 2rem;
	text-align: center;
	width: 90%;
	box-sizing: border-box;

	@include media-min-width(40rem) {
		width: 30rem;
	}
}

.sass-introduction {
	@extend .sass-section;
	box-shadow: 0.2rem 0.2rem 0.1rem #ccc;
}

.sass-introduction p {
	margin: 0;
}

.sass-details {
	@extend .sass-section;
	margin: $size-default * 2 0;
}

.section-header {
	border-bottom: 0.05rem solid map-get($colors, main);
}

.section-header h1 {
	margin: 0 0 1rem 0;
}

.documentation-links {
	list-style: none;
	margin: 1rem 0 0 0;
	padding: 0;
	@include display-flex();
	flex-direction: column;

	li {
		margin: 0.2rem 0;
		background: white;
	}

	.documentation-link {
		text-decoration: none;
		color: map-get($colors, main);
		display: block;
		padding: 0.2rem;
		border: 0.05rem solid map-get($colors, main);
	}

	.documentation-link:hover,
	.documentation-link:active {
		color: white;
		background: #fa923f;
		border-color: #fa923f;
	}
}

@media (min-width: 40rem) {
	.container {
		padding: 3rem 0;
	}

	.sass-details {
		width: 30rem;
	}
}
